<!DOCTYPE html>
<html>
  <head>
    <% if (query.success) { %>
      <title><%= __('successTitle') %></title>
    <% } else { %>
      <title><%= __('title') %></title>
    <% } %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (query.success) { %>
      <h1><%= __n('%s successMessage', query.length) %></h1>
    <% } else { %>
      <h1><%= __('title') %></h1>
    <% } %>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <div><label><%= __('dirPropmt') %>: <input id="dir" name="dir" type="text" autofocus required></label></div>
      <input type="file" id="imageUpload" name="imageUpload" accept="image/*,video/*" multiple required><br /><br />
      <button type="submit"><%= __('submit') %></button>
      <button type="reset"><%= __('reset') %></button>
    </form>
  </body>
</html>
